/* MessageView.css */

.MessageBar {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure MessageBar takes at least the full height of the viewport */
}

.chatHeader {
  background-color: green;
  padding: 70px; /* Add padding for better spacing */
}

.chatContainer {
  background-color: red;
  flex: 1;
  padding: 300px; /* Add padding for better spacing */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.chatInputContainer {
  background-color: grey;
  padding: 200px; /* Add padding for better spacing */
}
