/* MessageView.css */

.MessageBar {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure MessageBar takes at least the full height of the viewport */
}

.chatHeader {
  background-color: #f0f0f0;
  background-color: #ccc;
  padding: 90px; /* Add padding for better spacing */
}

.chatContainer {
  background-color: white;
  flex: 1;
  padding: 400px; /* Add padding for better spacing */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.chatInputContainer {
  background-color: grey;
  padding: 100px; /* Add padding for better spacing */
}

/* Target the FontAwesomeIcon directly */
.chatHeader .icon {
  position: absolute; /* Position the icon relative to its nearest positioned ancestor */
  margin-top:100px;
  top: 10px; /* Adjust the top position of the icon */
  left: 320px; /* Adjust the right position of the icon */
  border-radius: 50%; /* Make the icon border circular */
  padding: 8px; /* Adjust the padding for the circular border */
  background-color: #ccc ;
  z-index: 1; /* Ensure the icon appears above the container */
}

.userName {
  margin-left: 330px; /* Adjust the left margin to align with the icon */
  color: black;
  font-weight: bold;
  position: absolute; /* Position the username relative to its nearest positioned ancestor */
  top: 120px; /* Adjust the top position of the username */
  left: 50px; /* Adjust the left position of the username */
  z-index: 1;
}

/* Styles for the user status */
.userStatus {
  margin-top: 5px;
  margin-left: 290px;
  position: absolute;
  top: 140px;
  color: green;
  z-index: 1;
}